#navi,#laststart{
    background-color: #511D00;
    
}
.navi3{
    background-color:#F8ECD7;
}
.forsilderh2text{
    font-family: 'Playfair Display', serif;
}
#fornavandtabs{
    background-color:#F8ECD7;
}
